* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    height: 15%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}

.row {
    display: flex;
    height: 50%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
}

p{
    font-size: 50px;
    line-height: 50px;
    color: #fff;
}

button {
    width: 200px;
    color: #000;
    font-size: 25px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 60px;
}

.card {
    width: 100px;
    height: 100px;
    display: inline-block;
    fill: white;
    margin-right: 120px;
    margin-bottom: 60px;
}

#facebook:hover #blue {
    fill: red;
}

#twitter:hover #blue {
    fill: red;
}

#linkden:hover #blue {
    fill: red;
}

#pintrest:hover #red {
    fill: blue;
}

#skype:hover #blue {
    fill: red;
}


#amazon:hover #yellow {
    fill: blue;
}


#soundcloud:hover #orange {
    fill: blue;
}

#youtube:hover #red {
    fill: black;
}

button:hover {
    background-color: black;
    color: white;
}